
@font-face {
  font-family: "OpenSansLight";
  font-style: normal;
  font-weight: normal;
  src: url("/static/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("/static/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("/static/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("/static/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fontawesome-webfont.ttf") format("truetype");
}


h1 { font-size: 30px; line-height: 42px; margin-bottom: 7px; }

h2 { font-size: 22px; line-height: 36px; margin-bottom: 10px;}

h3 { font-size: 19px; line-height: 34px; margin-bottom: 7px; }

h4 { font-size: 18px; line-height: 32px; margin-bottom: 7px; }

h5 { font-size: 16px; line-height: 26px; margin-bottom: 7px; }

h6 { font-size: 14px; line-height: 24px; margin-bottom: 7px;  }

h1,h2,h3,h4,h5,h6 {
	color: #444;	
	letter-spacing: -0.5px;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	font-family: "OpenSansSemibold";	
}

#header{
	background:#252525;
}
input[type="submit"]{
	background:#F6653C;
}
.module h2, .module caption, .inline-group h2 {
    margin: 0px;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #252525;
    color: #FFF;
}
a:link, a:visited {
    color: #F6653C;
    text-decoration: none;
}
div.breadcrumbs {
    background: #252525;
    color: #F6653C;
}
.colSM{
    margin: 0 auto;
    max-width: 1425px;
    box-sizing: border-box;
}
.grid {
    display: block;
    margin-bottom: 20px;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
.grid-1-4 {
    width:23.404%;
    float: left;
}

.bigbuttonwrapper {
    margin-bottom: 12px;
    padding: 4px;
}

a.bigbutton{
    display: table-cell;
    width: 250px;
    border-radius: 5px;
    padding: 6px;
    font-size: 20px;
    color: black;
    background: #F6653C;
}

a.bigbutton:hover{
    background: #F6855C;
}